<div class="container">
    <h3>Publish a Quote below.</h3>
    <form>
        <div class="form-group">
            <label for="name">Quote</label>
            <textarea class="form-control" id="quote" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" class="form-control" id="author">
        </div>
        <div class="form-group">
            <label for="publisher">Publisher</label>
            <input type="text" class="form-control" id="publisher">
        </div>
        <div class="form-group">
            <label for="published">Date published</label>
            <input type="date" id="published">
        </div>
    </form>
</div>
